@import "../Helpers/variable";
@import "../Helpers/mixin";

body {
    background-color: var(--bg-app);
    min-height: 100vh;

    .main-content {
        background-color: var(--bg-app);
        margin-top: 1rem;
        padding: 0 1rem;

        .banner {
            cursor: pointer;
            border-radius: 1rem;
            background-color: $white;
            padding: 0.25rem;
            max-width: $max-content-width-xl;
            margin: 0 auto;

            .banner-image {
                height: 500px;
                overflow: hidden;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 95%;

                @include respond-to(md) {
                    height: 500px;
                }

                @include respond-to(sm) {
                    height: 350px;
                }
            }
        }
    }
}
