@import "../../Helpers/variable";
@import "../../Helpers/mixin";

.product-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 2rem;

    @include respond-to(md) {
        flex-direction: column;

        .search-bar {
            width: 100%;
            order: 1;
            flex: 1;
        }

        .btn-group {
            order: 2;
            width: 100%;
        }

        .sort-price {
            order: 3;
            width: 100%;
        }
    }
}

.btn-filter {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    background-color: var(--bg-surface);
    transition: all 0.2s;
    @include text(0.875rem, 500, var(--text-main));
    padding: 0 1rem;

    &:hover {
        border-color: var(--border);
    }
}

.btn-group {
    display: flex;
    gap: 0.5rem;
}

.btn-active {
    background-color: var(--bg-2);
    color: var(--bg-1);
    font-weight: 700;
}

// Search Bar
.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--bg-app);
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    width: 18rem;
    border: 1px solid var(--border);
    transition: all 0.2s;

    &:focus-within {
        border-color: var(--primary);
        outline: 1px solid var(--primary);
    }

    i {
        color: var(--text-muted);
    }

    input {
        background: transparent;
        border: none;
        width: 100%;
        margin-left: 0.5rem;
        outline: none;
        @include text($size: 0.875rem, $color: var(--text-main));

        &::placeholder {
            color: var(--text-muted);
        }
    }
}

// Sort Price
.sort-price {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
        @include text($size: 0.875rem, $color: var(--text-muted));
    }
}

.product-sort-select {
    border: 1px solid var(--border);
    background-color: var(--bg-surface);
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    @include text($size: 0.875rem, $color: var(--text-main));
    cursor: pointer;
    outline: none;

    &:focus {
        border-color: var(--primary);
        outline: 1px solid var(--primary);
    }
}
